html,
body,
#preferences {
    --background: #F8F9F9;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    overflow: hidden;
    font-family: 'Atkinson Hyperlegible', system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', sans-serif;
    background: var(--background);
}

.preferences-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
